<mat-card class="card">
    <mat-card-header>
      <mat-card-title>Project CRM</mat-card-title>
      <mat-card-subtitle>Dicas de um DEV</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/img/java-vertical.svg" alt="Image Home Help Desk">
    <mat-card-content>
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry.<br>  Lorem Ipsum has been 
        the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it 
        to make a type specimen book.<br>  It has survived not only five centuries, but also the leap into electronic typesetting, 
        remaining essentially unchanged.<br> It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, 
        and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
      </p>
    </mat-card-content>
  </mat-card> 