.container{
    height: 100%;
    background: linear-gradient(360deg, rgb(109 109 118) 0%, rgb(108, 108, 117) 2%, rgb(251, 255, 0) 100%);
    display: flex;
    align-items: center;
    justify-content: center;

    /*imagem de fundo*/
    background-image: url('https://r4.wallpaperflare.com/wallpaper/391/422/547/plexus-atoms-protons-neutrons-wallpaper-c900781d21da5d7bb6f7887fb0e146cd.jpg');
    background-size: cover;
    /* background-image cinza*/
    background-color: rgb(209, 206, 206);
    background-blend-mode: overlay;
}

.form{
    width: 40rem;
    margin: auto;
    background-color: rgb(235, 235,235);
    padding: 4rem 1rem;
    border-radius: 1rem;
}

h1{
    width: 100%;
    text-align: center;

}

img{
    height: 15rem;
    width: 100%;
    margin: -3.1rem auto 1rem auto;
}

.full-width{
    width: 100%;
}

button{
    margin-top: 1rem;
}
