.container{
    height: 100%;
    background: linear-gradient(360deg, rgb(109 109 118) 0%, rgb(108, 108, 117) 2%, rgb(251, 255, 0) 100%);
    display: flex;
    align-items: center;
    justify-content: center;

    /*imagem de fundo*/
    background-image: url('https://c1.wallpaperflare.com/path/898/284/844/stock-trading-monitor-desk-b13eeef2ca88b5860d85201ae0ecc309.jpg');
    background-size: cover;
    /* background-image cinza*/
    background-color: rgb(209, 206, 206);
    background-blend-mode: overlay;
}

.form{
    width: 40rem;
    margin: auto;
    background-color: rgb(235, 235,235);
    padding: 4rem 1rem;
    border-radius: 1rem;
}

h1{
    width: 100%;
    text-align: center;

}

img{
    height: 15rem;
    width: 100%;
    margin: -3.1rem auto 1rem auto;
}

.full-width{
    width: 100%;
}

button{
    margin-top: 1rem;
}
