<mat-drawer-container autosize>
   
   <mat-sidenav opened="true">
      <img
        class="avatar mat-elevation-z8"
        [src]="imagemLink"
        alt="Avatar"
      />
      <h4 class="name">{{ name }}</h4>
      <p class="designation">{{ email }}</p>
  
      <mat-divider></mat-divider>
  
      <button mat-button class="menu-button" routerLink="/home">
        <mat-icon>home</mat-icon>
        <span>Home</span>
      </button>
      <button mat-button class="menu-button" routerLink="exam">
        <mat-icon>import_contacts</mat-icon>
        <span>Exame</span>
      </button>
      <a mat-button class="menu-button" href="http://javeiro.com.br:7070" target="_blank">
        <mat-icon>location_city</mat-icon>
        <span>Listar Cidades</span>
      </a>
      <a mat-button class="menu-button" routerLink="llama3">
        <mat-icon>adb</mat-icon>
        <span>Artifial IA</span>
      </a>
      <a mat-button class="menu-button" routerLink="cidade">
        <mat-icon>memory</mat-icon>
        <span>Desafio CRUD</span>
      </a>
      <a mat-button class="menu-button" href="https://github.com/leandro91004850" target="_blank">
         <mat-icon>code</mat-icon>
         <span>GitHub</span>
      </a>
   
      <mat-divider></mat-divider>
  
      <button mat-button class="menu-button" (click)="logout()">
        <mat-icon>logout</mat-icon>
        <span>Logout</span>
      </button>
     </mat-sidenav> 

   <div class="sidenav-content">
      <router-outlet></router-outlet>
   </div>
 </mat-drawer-container>